@model MuellerThomasMKN_151.Models.IndexViewModel
@{
    ViewBag.Title = "Verwalten";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Account Einstellungen verwalten</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Passwort:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Passwort ändern", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Erstellen", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
