
@{
    ViewBag.Title = "Game";
}



@{


    <p>@((string)ViewData["Word"])</p>
}

@using (Html.BeginForm("LetterChosen", "Game", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-default" name"letter" value"A" />
    <input type="submit" class="btn btn-default" name"letter" value"B" />
    <input type="submit" class="btn btn-default" name"letter" value"C" />
    <input type="submit" class="btn btn-default" name"letter" value"D" />
    <input type="submit" class="btn btn-default" name"letter" value"E" />
    <input type="submit" class="btn btn-default" name"letter" value"F" />
    <input type="submit" class="btn btn-default" name"letter" value"G" />
    <input type="submit" class="btn btn-default" name"letter" value"H" />
    <input type="submit" class="btn btn-default" name"letter" value"I" />
    <input type="submit" class="btn btn-default" name"letter" value"J" />
    <input type="submit" class="btn btn-default" name"letter" value"K" />
    <input type="submit" class="btn btn-default" name"letter" value"L" />
    <input type="submit" class="btn btn-default" name"letter" value"M" />
    <input type="submit" class="btn btn-default" name"letter" value"N" />
    <input type="submit" class="btn btn-default" name"letter" value"O" /><br />
    <input type="submit" class="btn btn-default" name"letter" value"P" />
    <input type="submit" class="btn btn-default" name"letter" value"Q" />
    <input type="submit" class="btn btn-default" name"letter" value"R" />
    <input type="submit" class="btn btn-default" name"letter" value"S" />
    <input type="submit" class="btn btn-default" name"letter" value"T" />
    <input type="submit" class="btn btn-default" name"letter" value"U" />
    <input type="submit" class="btn btn-default" name"letter" value"V" />
    <input type="submit" class="btn btn-default" name"letter" value"W" />
    <input type="submit" class="btn btn-default" name"letter" value"X" />
    <input type="submit" class="btn btn-default" name"letter" value"Y" />
    <input type="submit" class="btn btn-default" name"letter" value"Z" />
    <input type="submit" class="btn btn-default" name"letter" value"Ä" />
    <input type="submit" class="btn btn-default" name"letter" value"Ü" />
    <input type="submit" class="btn btn-default" name"letter" value"Ö" />
}

