
@{
    ViewBag.Title = "Game";
}

@{
    <button type="submit" class="btn btn-default" name"letter" value"A">A</button>
    <button type="submit" class="btn btn-default" name"letter" value"B">B</button>
    <button type="submit" class="btn btn-default" name"letter" value"C">C</button>
    <button type="submit" class="btn btn-default" name"letter" value"D">D</button>
    <button type="submit" class="btn btn-default" name"letter" value"E">E</button>
    <button type="submit" class="btn btn-default" name"letter" value"F">F</button>
    <button type="submit" class="btn btn-default" name"letter" value"G">G</button>
    <button type="submit" class="btn btn-default" name"letter" value"H">H</button>
    <button type="submit" class="btn btn-default" name"letter" value"I">I</button>
    <button type="submit" class="btn btn-default" name"letter" value"J">J</button>
    <button type="submit" class="btn btn-default" name"letter" value"K">K</button>
    <button type="submit" class="btn btn-default" name"letter" value"L">L</button>
    <button type="submit" class="btn btn-default" name"letter" value"M">M</button>
    <button type="submit" class="btn btn-default" name"letter" value"N">N</button>
    <button type="submit" class="btn btn-default" name"letter" value"O">O</button><br/>
    <button type="submit" class="btn btn-default" name"letter" value"P">P</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">Q</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">R</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">S</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">T</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">U</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">V</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">W</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">X</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">Y</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">Z</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">Ä</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">Ü</button>
    <button type="submit" class="btn btn-default" name"letter" value"P">Ö</button>

}

