@{
    ViewBag.Title = "Bestätigung für vergessenes Passwort";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Bitte check dein Email um das Passwort zurückzusetzen.
    </p>
</div>
	
