@{
    ViewBag.Title = "Bestätigung für zurückgesetzes Passwort";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Dein Passwort wurde zurückgesetzt. Bitte @Html.ActionLink("klicke hier für dein Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
