@model MuellerThomasMKN_151.Models.Word

@{
    ViewBag.Title = "Wort details";
}

<h2>Wort details</h2>

<div> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Zurück zur Liste", "Index")
</p>
