@{
    ViewBag.Title = "Hangman";
}

<div class="jumbotron">
    <h1>H A N G M A N</h1>
    <p class="lead">Das Spiel Hangman als WebApp realisiert</p>
</div>


@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
// nicht eingeloggt
    <div class="row">
        <div class="col-md-3">
            <p><a class="btn btn-default" href=@Url.Action("Register", "Account")>Registrieren</a></p>
        </div>
        <div class="col-md-3">
            <p><a class="btn btn-default" href=@Url.Action("Login", "Account")>Anmelden</a></p>
        </div>
        <div class="col-md-3">
            <p><a class="btn btn-default" href=@Url.Action("Index", "Game")>Spielen ohne Login</a></p>
        </div>
    </div>
}
else
{
    // eingeloggt
    <div class"gamestart">
        <p><a class="btn btn-default" href=@Url.Action("Index", "Game")>Spiel starten</a></p>
    </div>
}