@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zugriff verweigert";
}

<hgroup>
    <h1 class="text-danger">Zugriff verweigert.</h1>
    <h2 class="text-danger">Für diesen Account wurde der Zugriff verweigert. Versuche es später wieder.</h2>
</hgroup>
